name: Prevent Direct Push to Main

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:
  protect-main:
    runs-on: ubuntu-latest
    steps:
      - name: Check user permissions
        run: |
          echo "⚠️ Direct push to protected branch detected by $GITHUB_ACTOR"
          if [ "$GITHUB_ACTOR" != "funmicode123" ]; then
            echo "Only Funmilola can push directly to main/master."
            exit 1
          else
            echo "✅ Authorized push by $GITHUB_ACTOR."
          fi
